In [38]:
import pandas as pd

df = pd.read_csv('../data/hcpcsevents.csv')

In [62]:
filtered = df[df["hcpcs_cd"].str.match('^[A-Z]')]
filtered_final = filtered
filtered_final

,subject_id,hadm_id,chartdate,hcpcs_cd,seq_num,short_description
1,10000084,29888819,2160-12-28,G0378,1,Hospital observation per hr
4,10000117,22927623,2181-11-15,G0378,2,Hospital observation per hr
7,10000635,26134563,2136-06-19,G0378,1,Hospital observation per hr
11,10000935,21738619,2187-07-11,G0378,1,Hospital observation per hr
12,10000935,24955974,2183-11-07,G0378,1,Hospital observation per hr
...,...,...,...,...,...,...
150756,19998350,21130518,2131-04-26,G0378,1,Hospital observation per hr
150757,19998350,27108332,2128-02-21,G0378,1,Hospital observation per hr
150763,19999043,21756272,2165-06-03,G0378,1,Hospital observation per hr
150766,19999379,26008899,2174-11-04,G0378,1,Hospital observation per hr
150767,19999466,21397174,2116-08-30,G0378,1,Hospital observation per hr

In [67]:
previous_row = ''
counter = 1
for index,row in filtered_final.iterrows():
    if row['hadm_id'] == previous_row:
        counter = counter + 1
    else:
        counter = 1
    filtered_final.at[index,'seq_num']= counter
    previous_row = row['hadm_id']

filtered_final.to_csv('../data/hcpcs_filtered')

In [68]:
filtered_final

,subject_id,hadm_id,chartdate,hcpcs_cd,seq_num,short_description
1,10000084,29888819,2160-12-28,G0378,1,Hospital observation per hr
4,10000117,22927623,2181-11-15,G0378,1,Hospital observation per hr
7,10000635,26134563,2136-06-19,G0378,1,Hospital observation per hr
11,10000935,21738619,2187-07-11,G0378,1,Hospital observation per hr
12,10000935,24955974,2183-11-07,G0378,1,Hospital observation per hr
...,...,...,...,...,...,...
150756,19998350,21130518,2131-04-26,G0378,1,Hospital observation per hr
150757,19998350,27108332,2128-02-21,G0378,1,Hospital observation per hr
150763,19999043,21756272,2165-06-03,G0378,1,Hospital observation per hr
150766,19999379,26008899,2174-11-04,G0378,1,Hospital observation per hr
150767,19999466,21397174,2116-08-30,G0378,1,Hospital observation per hr